# {{ ansible_managed }}
<VirtualHost *:{{ weather_port }}>
   ServerAdmin webmaster@{{ ansible_hostname }}
   DocumentRoot {{ site_dir }}

   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined

   <Directory {{ site_dir }}/cgi-bin>
        Options ExecCGI
        SetHandler cgi-script
   </Directory>

  <Directory {{ site_dir }}>
        Options +ExecCGI
        AddHandler cgi-script .py
        DirectoryIndex index.py index.html
   </Directory>
</VirtualHost>
